parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$api_token\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$password\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/AuthController.php

		-
			message: '#^Access to an undefined property App\\Models\\Dish\:\:\$ingredients\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/OrderController.php

		-
			message: '#^Access to an undefined property App\\Models\\MenuItem\:\:\$quantity_limit\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/OrderController.php

		-
			message: '#^Access to an undefined property App\\Models\\MenuItem\:\:\$sold_count\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Controllers/OrderController.php

		-
			message: '#^Call to protected method increment\(\) of class Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: method.protected
			count: 1
			path: app/Http/Controllers/OrderController.php

		-
			message: '#^Call to an undefined static method App\\Models\\OrderItem\:\:selectRaw\(\)\.$#'
			identifier: staticMethod.notFound
			count: 1
			path: app/Http/Controllers/StatsController.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Unit/ExampleTest.php
